.bg {
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bg.active {
    opacity: 1;
}

@media (orientation: portrait) {
    .bg {
        height: 100%;
        width: auto;
    }
}